#chef-description {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background-color: rgba(231, 231, 219, 0.7);
  gap: 3em;

  .chef-detail {
    display: flex;
    flex-direction: column;
    padding: 100px;
    background-color: rgba(28, 32, 33, 0.7);
    width: 50%;

    h2 {
      text-align: left;
      font-size: 2em;
      margin-bottom: 20px;
      font-family: "Taviraj", serif;
      color: #b28158;
    }
    p {
      color: aliceblue;
      animation: fade-in 3s ease-out;
      font-family: "Merriweather Sans", sans-serif;
      word-spacing: 2px;
      letter-spacing: 2px;
    }
  }

  img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
  }
}

//Responsive Mobile
@media only screen and (min-device-width: 320px) and (max-device-width: 500px) {
    #chef-description {
        flex-direction: column-reverse;
        padding: 0px;
        gap: 3em;
      
        .chef-detail {
          display: flex;
          flex-direction: column;
          padding: 30px;
          background-color: rgba(28, 32, 33, 0.7);
          width: 100%;
      
          h2 {
            text-align: center;
            font-size: 1.5em;
            margin-bottom: 20px;
            font-family: "Taviraj", serif;
            color: #b28158;
          }
          p {
            color: aliceblue;
            animation: fade-in 3s ease-out;
            font-family: "Merriweather Sans", sans-serif;
            word-spacing: 2px;
            letter-spacing: 2px;
            font-size: 13px;
            text-align: center;
          }
        }
      
        img {
          width: 300px;
          height: 300px;
          margin-top: 40px;
        }
      }
}

//Responsive tablette
@media only screen and (min-device-width: 500px) and (max-device-width: 900px) {
    #chef-description {
        flex-direction: column-reverse;
        padding: 0px;
        gap: 3em;
      
        .chef-detail {
          display: flex;
          flex-direction: column;
          padding: 30px;
          background-color: rgba(28, 32, 33, 0.7);
          width: 100%;
      
          h2 {
            text-align: center;
            font-size: 1.7em;
            margin-bottom: 20px;
            font-family: "Taviraj", serif;
            color: #b28158;
          }
          p {
            color: aliceblue;
            animation: fade-in 3s ease-out;
            font-family: "Merriweather Sans", sans-serif;
            word-spacing: 2px;
            letter-spacing: 2px;
            font-size: 15px;
            text-align: center;
          }
        }
      
        img {
          width: 400px;
          height: 400px;
          margin-top: 40px;
        }
      }
}

//Responsive desktop
@media only screen and (min-device-width: 900px) and (max-device-width: 1300px) {
    #chef-description {
        padding: 40px;
        gap: 3em;
      
        .chef-detail {
          display: flex;
          flex-direction: column;
          padding: 30px;
          background-color: rgba(28, 32, 33, 0.7);
          width: 100%;
      
          h2 {
            text-align: center;
            font-size: 1.7em;
            margin-bottom: 20px;
            font-family: "Taviraj", serif;
            color: #b28158;
          }
          p {
            color: aliceblue;
            animation: fade-in 3s ease-out;
            font-family: "Merriweather Sans", sans-serif;
            word-spacing: 2px;
            letter-spacing: 2px;
            font-size: 15px;
            text-align: center;
          }
        }
      
        img {
          width: 430px;
          height: 430px;
        }
      }
}
