.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Tajawal', sans-serif;
    background-color: rgb(239, 241, 242);
    gap: 1em;
    font-size: 1.2em;
    padding: 5px;
    height: auto;

    img {
        margin-left: 60px;
        border-right: 2px solid rgb(26, 24, 24);
    }
    ul {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 2em;

        li {
            position: relative;
            cursor: pointer;
            color :#b28158;
            font-weight: normal;

            &:hover {
                font-weight: bold;
            }
          
        }
    }

    .contact-number {
        display: flex;
        align-items: center;
        margin-right: 20px;

        i {
            margin-right: 10px;
        }
    }
}